@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}

ul {  
  list-style:none;
  margin:0;
  padding:0;
}
li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border : 0;
  float: left;
}

.social {
  position:position;
  top:-100;
  left:0;
}

.social__icon_1 {
  height: 32px;
  width: 32px;
  background-image: url(images/ico_github.svg);
  background-size: cover;
}

.social__icon_2 {  
  height: 32px;
  width: 32px;
  background-image: url(images/ico_mail.svg);
  background-size: cover;
}